{% extends 'app/base.html' %}

{% block content %}

<div>
  <h5>プロフィール</h5>
  <table>
    <tbody>
      <tr>
        <th>名前</th>
        <td>{{ user_data.first_name }} {{ user_data.last_name }}</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>{{ user_data.email }}</td>
      </tr>
      <tr>
        <th>所属</th>
        <td>{{ user_data.department }}</td>
      </tr>
      <tr>
        <th>入会日</th>
        <td>{{ user_data.created }}</td>
      </tr>
    </tbody>
  </table>

  <a href="">編集</a>
</div>

{% endblock content %}