{% extends 'app/base.html' %}
{% load widget_tweaks %}


{% block content %}

<div>

  <h5>プロフィール</h5>
  <form method="post">
    {% csrf_token %}
    <table>
      <tbody>
        <tr>
          <th>名前</th>
          <td>
            {% render_field form.first_name placeholder='姓' %}
            {% render_field form.last_name placeholder='名' %}
          </td>
        </tr>
        <tr>
          <th>所属</th>
          <td>
            {% render_field form.department placeholder='所属' %}
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <button type="submit">登録する</button>
    </div>

  </form>
  
</div>
{% endblock content %}